.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .header
  {
    background-color: slateblue;
    /* border: 1px solid;ss */
    height: 50px;
  }
  
  .logo{
    float: left;
    /* align-content: center; */
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    margin-top: -10px;
    margin-left: 10px;
  }
  
  .header-menu
  {
    margin-top: 15px;
    float: right;
    margin-right: 40px;
  }
  
  .header-menu a
  {
    margin-left: 20px;
    text-decoration: none;
    vertical-align: center;
    color: #fff;
  }