body{
    min-width: 100%;
    min-height: 100%;
}

.Apps
{
    /* background: url('./login.jpg'); */
    
    background:linear-gradient(to left, rgba(0,0,0,0) , rgba(0,0,0,0.8)), url('./login.jpg');
    height: 626px;
    background-size: cover;
    background-position: center;
    
}

.get-started-div
{
    /* border: 1px solid red; */
    width: 300px;
    /* height: 50px; */
    margin: 0 auto;
    margin-top: 400px;
}

.get-started-div button
{
    
    margin-left: 50px;
    background: slateblue;
    color: #ffffff;
    height: 45px;
    width: 200px;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    transition-duration: .5s;
    cursor: pointer;
}

.get-started-div button:hover
{
    background: #5143ac;
    transition-duration: .5s;
}

.title-div
{
    color: #fff;
    /* border: 1px solid red; */
    /* float: left; */
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin-top: -200px;
}